@import "tailwindcss";

@theme {
  --color-foreground: #1f2e27;
  --color-background: #f9fafa;
  --color-primary: #7a28bd;
  --color-secondary: #26d988;
}
html {
  width: 100%;
}

html.dark {
  --color-foreground: #f9fafa;
  --color-background: #1f2e27;
}

/* NAVBAR */

@utility glass {
  @apply bg-[color:oklch(var(--fg)/0.2)]
         backdrop-blur-md backdrop-saturate-150
         border-b border-[color:oklch(var(--fg)/0.08)];
}

@utility glass-strong {
  @apply backdrop-blur-lg;
}

/* LINKS */
@utility link {
  @apply text-sm px-1;
}

@utility mobile-link {
  @apply text-lg py-4 shadow-lg shadow-background/10 text-center rounded-lg;
}
@utility link-active {
  @apply rounded-md py-1.5 text-sm font-bold;
}
@utility mobile-link-active {
  @apply text-lg font-bold inset-shadow-sm inset-shadow-background/50;
}
@utility link-hover {
  @apply hover:scale-110 transition-transform duration-100 ease-in-out;
}
