@import "tailwindcss";

.link-active {
  @apply rounded-md py-1.5 text-sm font-bold    bg-zinc-900 dark:text-zinc-900;
}

@theme {
  --color-foreground: #1f2e27;
  --color-background: #f9fafa;
  --color-primary: #7a28bd;
  --color-secondary: #26d988;
}

html.dark {
  --color-foreground: #f9fafa;
  --color-background: #1f2e27;
}
